*{
    box-sizing: inherit;
    /* ke thua cho tat ca */
}
html{
    /* hack 1rem=10px */
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body{
    margin: 0;
    padding: 0;
}
.grid{
    width: 1210px;
    max-width: 100%;
    margin:0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid__row{
    display:flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
/*Test*/
.gird-column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 15%;
}

.gird-column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.36%;
}
.mgtb10px{
    margin: 10px 0;
}

.gird-column-1-4{
    display: inline-flex;
    padding-left: 5px;
    padding-right: 5px;
    width: 23.6%;
}
.gird-column-2-4{
    display: inline-flex;
    padding-left: 7px;
    padding-right: 7px;
    width: 18.8%;
}
.backgroundWhite{
    background: #fff;
}
.nav-header{
    height: 130px;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
}

/* 
.navoption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.height130px{
    height: 130px;
}
.header{
    height: 130px;
    background-color: #000000;
}
.navoption{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.navoption{
    height: 100%;
}
.logo9 img{
    width: 170px;
    margin-left: 10px;
    margin-top: -5px;

}
.optionlink img{
    width: 30px;
}

.listoption{
    margin: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.info-top-option
{
    margin: 0;
    display: flex;
    /* justify-content: center; */
   
}
.info-top-option li{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    padding: 0;
}
ul li{
    list-style: none;
    
}
a{
    text-decoration: none;
}
.header-top{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.searchsp input{
    width: 400px;
    padding: 12px;
    border: none;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}
.iconsearch{
    background: linear-gradient(#00FF02, #01e001);
    border: 1px solid #1af81a;
    width: 40px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 11px 0;
    margin-left: -5px;
}
span{
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 11px;
}
.nameproduct span,
.itemsanpham span{
    color: #505050;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    margin-left: 5px;
}
.optionItem{
    margin: 0 2px;
    display: flex;
}
.optionItem span{
    margin-left: 5px;
}
.optionKH{
    margin-left: 16px;
    width: 450px;
}
.info-top{
    margin-top: 20px;
}
.info-img{
    width: 18px;
    margin-right: 3px;
}
.info-item{
    margin: 0 15px;
}
.info-item span{
    color: #fff;
    margin-left: 5px;
}
.info-item a{
    text-decoration: none;
}
.seperate{
    border: 1px solid #00FF02;
    
}
.fixed-menu{
    margin: 10px 0;
    padding:8px 10px;
    border-radius: 10px;
    display: flex;
    height: 18px;
    align-items: center;
    background-color: #505050;
}
.fixed-menu span{
    margin-left: 5px;
}
.listproduct,
.container{
    background: #f1f0f1;
}
.itemsanpham{
    padding: 4px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 26px;
}
.itemsanpham i{
    min-width: 20px;
    text-align: left;
}
.supportlist:hover ,
.itemsanpham:hover {
    background: #ea1c04;
    color: #fff;
}
.supportlist{
    color: #505050 !important;
    font-size: 11px;
    align-items: center;
    cursor: pointer;
    user-select: none;
    padding: 7px;
    flex: 1;
    height: 18px;
    border: 1px solid #505050;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    display: flex;
    justify-content: center;
    border-radius: 5px;

} 
.supportlist i{
    margin-right: 5px;
}
.supportlist span{
    color: #000000;
}
.titleproduct{
    width: 100%;
    display: FLEX;
    justify-content: SPACE-BETWEEN;
    align-items: CENTER;
    background-color: #409d41;
    padding: 10px 20px;
    color: #fff;
    margin: 15px 5px;
}
.titleproduct h1{
    margin: 0;
    font-size: 22px;
    background: #409d41;
    color: #fff;
    display: inline-block;
}
.itemproduct img{
    width: 100%;
    min-height: 211px;
    min-width: 196px;
}
.itemproduct{
    background-color: #FFF;
    margin-bottom: 30px;
    border: 1px solid #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.new-product-percent {
    background: url('/DOANMONHOC_JS/icon/icon-saleoff.webp') no-repeat scroll center center transparent;
    position: absolute;
    width: 50px;
    height: 35px;
    bottom: -5px;
    right: 22px;
    text-align: center;
    vertical-align: middle;
    color: #180733;
    font-size: 16px;
    padding-top: 14px;
}   
.poinproduct{
    position: relative;
}
.poinnow:first-child{
    padding: 5px ;
    color: #888;
    font-size: 14px;

}
.poinnow:last-child{
    padding: 5px ;
    color: #ed0000;
    font-size: 20px;
    font-weight: 600;

}