
<% include layout/header.ejs %>
<style>
    body{
        padding: 10px;
      
       font-size: 16px;
    }

    .left{
        padding: 20px;
    }
    .tab1{
        font-size: 30px;
        width: 50%;
        height: 100%;
        line-height: 2;
        
    }
  #categorymenu {
    display: none !important;
  }
</style>
<div class="container">
    <div class="left">
         <h5>
            <b style= "font-size:20px">  I. Giới thiệu chung:</b>
        </h5>
        Công ty TNHH Thương mại Dịch vụ Tin học NVRAEG được thành lập ngày 01/01/2023. Những ngày đầu thành lập, An Phát chỉ có 10 nhân sự chủ chốt. Đến giờ công ty có hơn 400 nhân viên, cộng tác viên và đầy đủ các trung tâm phân phối, trung tâm dự án, siêu thị bán lẻ máy tính ở Hà Nội và TP HCM.
            <br>
            Chứng minh cho thế mạnh này của mình, NVRAEG cũng đã từng tham gia các cuộc lắp máy cũng như cuộc thi hướng dẫn lắp máy do các nhãn hàng tổ chức và đạt nhiều thành tích nổi bật như Extreme PC Master, Intel Enthusiast , Đấu trường máy tính, Intel ExpertChallenge....
            
    </div>
    <div class="left">
            <h5>
                <b style= "font-size:20px">II. Tầm nhìn</b>

            </h5>

            <table>
                <tr >

                    <td >
                        - Mục tiêu trở thành công ty có hệ thống Siêu thị máy tính quy mô, chuyên nghiệp và trải rộng khắp các miền, đem đến sự tiện lợi cho khách hàng.

                    </td>
                </tr>
                <br>
                <tr>

                    <td>
                        - Xây dựng NVRAEG trở thành một môi trường làm việc chuyên nghiệp nơi mà mọi cá nhân phát huy tối đa sức sáng tạo, năng lực của bản thân.
                    </td>   
                </tr>

                <tr >
                    <td>
                        - Xây dựng NVRAEG trở thành ngôi nhà chung cho mọi cán bộ nhân viên cùng nhau phát triển, chia sẻ quyền lợi, trách nhiệm và nghĩa vụ công bằng, minh bạch nhất.
                    </td>
                </tr>

            </table>
    </div>
    <div class="left">
        <h5>
            <b style= "font-size:20px">III. Giá trị cốt lỗi của NVRAEG</b>

        </h5>

        <table>
            <tr >

                <td >
                    - Trưởng thành qua những THÁCH THỨC & THẤT BẠI,
                </td>
            </tr>
            <br>
            <tr>

                <td>
                    - Thích ứng nhanh là SỨC MẠNH CẠNH TRANH,
                </td>   
            </tr>

            <tr >
                <td>
                    - Sáng tạo là SỨC SỐNG,
                </td>
            </tr>
            <tr >
                <td>
                    - Tư duy HỆ THỐNG,
                </td>
            </tr>
            <tr >
                <td>
                    - Kết hợp ĐÔNG TÂY,
                </td>
            </tr>
            <tr >
                <td>
                    - NVRAEG là ngôi nhà chung.
                </td>
            </tr>
        </table>
</div>
<div class="left">
    <h5>
       <b style= "font-size:20px">  IV. Triết lý kinh doanh NVRAEG</b>
   </h5>
   <tr >
    <td>
        - Thấu hiểu: Mỗi khách hàng là một con người – một cá thể riêng biệt, cần được tôn trọng, quan tâm và lắng nghe, thấu hiểu và phục vụ một cách riêng biệt. NVRAEG sẽ là nơi hiểu được nhu cầu của khách hàng hơn bất kỳ công ty nào khác.
    </td>
</tr>
</div>
</div>
<% include layout/footer.ejs %>